.customSwiper :global(.swiper-pagination) {
  position: relative !important;
  margin-top: 30px;
}

.customSwiper :global(.swiper-pagination-bullet) {
  background-color: #616670;
  width: 20px;
  border-radius: 30%;
  opacity: 0.6;
}

.customSwiper :global(.swiper-pagination-bullet-active) {
  background-color: #0aad0a;
  opacity: 1;
}
